 /* .portfolio-item {
    opacity: 0; 
    transform: translateY(10px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
    
}
  
  .portfolio-item.show{
    opacity: 1; 
    transform: translateY(0); 
    transition: opacity 0.5s ease, transform 0.5s ease;
  } 
  
  .portfolio-item.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: block;
  } */
  a{
    text-decoration: none;
  }